<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Post</title>
</head>

<body>
<div class="flex-wrapper">
  <div class="gallery-box">
    <p class="post-title">{{currentPost.title}}</p>
    <p class="post-description">{{currentPost.description}}</p>
    <div class="post-author-date">
      <p class="author"> Created By {{currentPost.username}}</p>
      <p class="date-posted">{{formatDate currentPost.createdAt}}</p>
    </div>
    <img class="img-container" src="/{{currentPost.image}}" onerror="this.src='https://via.placeholder.com/300?text=Image+Not+Found';"/>

    <div class="comment-section">
      <div class="comment-box">
        <textarea id="comment-text" class="comment-box-text" placeholder="Enter your comment here"></textarea>
        <i id="comment-button" data-postid="{{currentPost.id}}" class="comment-box-button" aria-hidden="true"></i>
      </div>
    <div class="comments">
      {{#each currentPost.comments}}
        <div class="comment, id="{{this.id}}">
        <p class="username">{{this.username}}</p>
        <p class="date">{{formatDate this.createdAt}}</p>
        <p class="text">{{this.text}}</p>
      </div>
      {{/each}}
    </div>
  </div>

</div>
</div>
</body>
</html>